.project-height{
    height: 20rem;
}

.project-height img{
   width: 100%;
   overflow: hidden;
   transition: all .5s ease-in-out;
   transform: scale(1.05);
  
}
.project-height:hover img{
    filter: blur(2px);
    transform: scale(1);
 }
 .project-text-scale{
    transition: all 1s ease-in-out;
 }
 .project-height:hover .project-text-scale{
     transform: scale(1.05);

 }
.project-height{
    cursor: pointer;
    background-color: rgba(0,0,0, .9);
    position: relative;
    transition: all 1s ease-in;
    
}

.project-height .project-button{
    display: none;
    color: #fff;
    transition: all 1s ease-in;
}

.project-height:hover .project-button{
    display: block;
    
}