
.img-list{
    border:5px solid rgba(0,0,0, .7);
}
.img-list .custom-btn{
    filter: opacity(0);
    transition: all .7s ease-in-out;

}
 
.img-list img{
    cursor: pointer;
    transition: all .7s ease-in-out;
    filter: opacity(1);
}


.img-list:hover img{
    filter: opacity(.1);
}
.img-list:hover .custom-btn{
    filter: opacity(1);
}
.hide-footer{
    display: none;

}
 
.img-box .info h4{
    position: absolute;
    top:50%;
    left:50%;
    color:#fff;
    transform: translate(-50%,  -50%);
    margin:0;
    animation: changecolor 5s infinite;
    transition: 0.5s;
}

@keyframes changecolor {
    0%   {color: rgb(7, 1, 1);}
    25%  {color: yellow;}
    50%  {color: blue;}
    100% {color: green;}
  }

.img-box:hover .info h4{
    top:10%;
    opacity: 0;
    visibility: hidden;
}

.img-box .desc > *{
color: rgba(255, 255, 255, 0.1);
transition: all 2s ease-in-out;
}

.img-box:hover .desc > *{
    color: rgba(255, 255, 255);
}
