
.img-list{
    border:1px solid rgba(0,0,0, .7);
}
.img-list .custom-btn{
    filter: opacity(0);
    transition: all .7s ease-in-out;

}

.img-list img{
    cursor: pointer;
    transition: all .7s ease-in-out;
    filter: opacity(1);
}


.img-list:hover img{
    filter: opacity(.1);
}
.img-list:hover .custom-btn{
    filter: opacity(1);
}
.hide-footer{
    display: none;

}