.travel-img img{
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.img-box .info{
position: relative;
}

.img-box .info h1{
    position: absolute;
    top:50%;
    left:50%;
    color:#fff;
    transform: translate(-50%,  -50%);
    margin:0;
    transition: 0.5s;
}

.img-box:hover .info h1{
    top:10%;
    opacity: 0;
    visibility: hidden;
}

.img-box .info::before{
    position:absolute;
    content: '';
    top:0;
    left:0;
    background-color: #000;
    height: 100%;
    width: 100%;
    opacity: 0;

}
.img-box:hover .info::before{
    opacity: 0.5;
}

.img-box .info img{
    height: 100%;
    width: 100%;
}
.img-box{
    position: relative;
    overflow: hidden;
}
.img-box .desc p{
    margin: 0;
    line-height: 1.5;
}
.img-box .desc h1{
    margin-top: 0;
    
}

.img-box .desc{
    position: absolute;
    top:100%;
    left:0;
    color:rgb(247, 247, 247);
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    transition: 0.8s;
    cursor: pointer;
}
.img-box:hover .desc{
    top:0;
    opacity: 1;
}


