.round-nav{
    border: 3px solid black;
    padding: 4px 11px;
    border-radius: 55%;
    color: #000;
}
.my-nav{
 
    position: absolute;
    width: 100%;
    height: 100vh;
    top:-100vh;
    background: rgba(0,0,0);
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    transition: 1s;
   
    /* display: none; */
}
.my-nav ul li{
    list-style: none;
    margin: 20px  0;
    position: relative;
}
.my-nav ul li .li-link{
    list-style: none;
    color:"#fff";
    position: relative;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 3vw;
}

.my-nav ul li .li-link::after{
    content: '';
    height: 2px;
    width: 0;
    background: #eea16d;
    position:absolute;
    bottom:-.1em;
    left: 0;
    transition: width .5s;

}
.my-nav ul li .li-link:hover::after{
width: 100%;
overflow: hidden;
}
.home-bac{
   color:#333;
    font-size: 13vw;
    position: absolute;
    opacity: 0.1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: 800;
}

.close-menu{  
    width: 25px;
    position: absolute;
    right:2em;
    top:2em;
    color: #fff;
    cursor: pointer;
    transform: rotate(90deg) scale(1);
    transition: all 1s ease-in-out;

}
.close-menu:hover{
    transform: rotate(150deg) scale(1.1);
}

.menu-icon{
    width: 30px;
    cursor:pointer;
}

.menu-hover{
    transition: .5s ease-in-out all;
}
.menu-hover:hover{
    transform: scale(1.1);
}
