.banner-bg{
    background-color:rgba(253, 253, 253, 0.967);
    background-image: url('../../../images/homebannerbg.jpg');
    background-size: cover;
    width: 100%;
    background-blend-mode: multiply;
    overflow: hidden;
   
}

